.hero-text-bg h1 {
  font-family: "Comfortaa";
  margin-left: 50px;
  width: 500px;
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  padding-top: 5px;
  color: #22201f;
}

h1.about:after {
  display: block;
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  width: 35px;
  border-bottom: 10px solid #636363;
  top: -15px;
}

.about-content {
  margin-left: 10px;
  margin-right: 10px;
}

.about-community {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about-comm-text h2 {
  color: #dc8700;
  font-family: "Comfortaa";
  font-size: 35px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-bottom: 5px;
  text-align: center;
}

.about-comm-text p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160.5%;
  letter-spacing: 0.4px;
  color: #22201f;
  margin-bottom: 25px;
}

.about-comm-text a {
  background-color: #edb866;
  border-radius: 8px;
  padding: 10px 20px;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #160e00;
}

.content p{
   font-style: normal;
   font-weight: 400;
   font-size: 0.9rem;
   line-height: 160.5%;
   letter-spacing: 0.4px;
   color: #22201F;
   margin-bottom: 20px;
}

.content a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #160E00;
    text-transform: capitalize;
    padding: 10px;
    background: #EDB866;
    border-radius: 8px;
}

.our-statement {
  margin-top: 5em;
}

.heading-text h2 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #1d1d21;
  margin-bottom: 1em;
}

.statement-cards {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card {
  width: 100%;
  height: 285px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0 20px;
}

.card img {
  width: 30px;
  height: 30px;
  margin-top: 1.5em;
}

.card h3 {
  width: 131px;
  height: 36px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1em;
}

.card p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.vision {
  background: #322b0e;
}

.value {
  background: #a96f16;
}

.mission {
  background: #54504e;
}

@media screen and (min-width: 1300px) {
  .about-content {
    margin-left: 122px;
    margin-right: 122px;
    margin-bottom: 300px;
  }

  .about-community {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    align-items: center;
  }

  .about-comm-text h2 {
    text-align: left;
    font-size: 48px;
  }

  /* .about-comm-text p{
        width: 500px;
    } */

  /* .about-comm-img{
        width: 400px;
    } */

  .our-statement {
    margin-top: 10em;
  }

  .heading-text h2 {
    font-size: 48px;
  }

  .statement-cards {
    flex-direction: row;
    gap: 2em;
  }

  .card {
    height: 255px;
    padding: 0 25px;
  }
}

@media (max-width: 1213px) and (min-width: 768px) {
  .about-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-community {
    flex-direction: row;
    gap: 2em;
  }

  .about-comm-text h2 {
    text-align: left;
    font-size: 38px;
  }

  .about-comm-text p {
    width: 400px;
  }

  .our-statement {
    margin-top: 10em;
  }

  .heading-text h2 {
    font-size: 48px;
  }

  .statement-cards {
    flex-direction: row;
    gap: 2em;
  }

  .card {
    height: 255px;
    padding: 0 25px;
  }
}
