body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Comfortaa';
}

.header-bg{
    display: flex;
    align-items: center;
    min-height: 150px;
    background-image: url(../../assets/images/about-img3.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

.container{
    margin: auto;
    padding: 2rem 5%;
}

#text h1{
    font-size: 2.6rem;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    color: #22201F;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.row .img-content{
    position: relative;
    display: inline-block;
}

.row .img-content .second-img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}


.content h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
   line-height: 137%;
   letter-spacing: 0.4px;
   color: #DC8700;
}

.content p{
   font-style: normal;
   font-weight: 400;
   font-size: 0.9rem;
   line-height: 160.5%;
   letter-spacing: 0.4px;
   color: #22201F;
   margin-bottom: 20px;
}

.content a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #160E00;
    text-transform: capitalize;
    padding: 10px;
    background: #EDB866;
    border-radius: 8px;
}

#statement h2{
    font-size: 2rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
   line-height: 54px;
   letter-spacing: 0.1px;
   color: #1d1d21;
   text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
}

.card{
    padding: 20px 15px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card img{
    width: 30px;
    height: 30px;
}

.card h3{
   width: 131px;
   height: 36px;
   font-style: normal;
   font-weight: 500;
   font-size: 1rem;
   line-height: 150%;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-top: 1em;
}

.card p{
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 150%;
  color: #ffffff;
}


.vision{
  background-color: #322B0E;  
}

.value{
    background-color: #A96F16;
}

.mission{
    background-color: #54504E;
}


@media screen and (min-width: 768px){
    .cards::before{
        content: url(../../assets/images/circle1.png);
        position: absolute;
        left: -1%;
        margin-top: -150px;
        z-index: -1;
    }
    
    .cards::after{
        content: url(../../assets/images/circle2.png);
        position: absolute;
        left: 4%;
        margin-top: -80px;
        z-index: -1;
    }

    .container{
        margin: auto;
        width: 50%;
    }
    
    .content h2{
        font-size: 3rem;
    }
    
    .row{
      flex-direction: row;
      padding: 2rem 0;
    }

    .row .img-content{
        flex: 1 1 40rem;
        position: relative;
    }

    .row .img-content .first-img{
        width: 430px;
    }

    .row .content{
        flex: 1 1 40rem;
    }

    .row .content p{
      font-size: 1rem;
      padding: 1rem 0;
    }

    #statement h2{
        font-size: 3rem;
    }

    .cards{
        flex-direction: row;
    }

    .card{
       width: 320px;
    }
}

@media (max-width: 1022px) and (min-width: 768px) {
    .content h2{
        font-size: 2rem;
    }
    
    .content p{
       font-size: 0.9rem;
    }

    .row .img-content .second-img{
        top: 38%;
        left: 53%;
    }
}

@media screen and (min-width: 1280px) {
    .container{
        padding: 2rem 10%;
    }
   
    .row .img-content .second-img{
        left: 45%;
    }

    .card{
        width: 300px;
    }
}