@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:wght@300;400;500;700&family=Reem+Kufi&family=Roboto:wght@500&display=swap');

:root {
  --c-primary-0: #191489;
  --c-primary-1: #2920DF;
  --c-primary-2: #5080B0;
  --c-primary-3: #090F47;
  --c-danger-0: #FF3B3B;
  --c-danger-1: #E63535;
  --c-danger-2: #FF5C5C;
  --c-danger-3: #FF8080;
  --c-warning-0: #FFCC00;
  --c-warning-1: #E6B800;
  --c-warning-2: #FDDD48;
  --c-warning-3: #FDED72;
  --c-success-0: #06C270;
  --c-success-1: #05A660;
  --c-success-2: #39D98A;
  --c-success-3: #57EBA1;
  --c-info-0: #0063F7;
  --c-info-1: #004FC4;
  --c-info-2: #5B8DEF;
  --c-info-3: #9DBFF9;
  --c-dark-0: #3A3A3C;
  --c-dark-1: #6B7588;
  --c-dark-2: #DC8700;
  --c-dark-3: #C7C9D9;
  --c-grey-0: #8D9091;
  --c-gray-4: #EAE9FC;
  --c-grey-1: #CCCCCC;
  --c-grey-2: #EFEFEF;
  --cc-grey-3: #D9D9D9;
  --c-bg-color: #271B0A;
  --c-bg-color-2: #1D1D21;
  --text-bg: #EAE9FC; 
  --scroll: #8F90A680;
  --c-white-2: #FFFFFF;
}
